<div class="filter text-input">
  <div class="input-icon"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></div>
  <input id="lecturer" type="text" name="lecturer" placeholder="Type lecturer" value="<%=h params['lecturer'] %>"><br>
</div>