<div class="filter other-input">
  <div class="input-icon">
    <i class="fa-solid fa-check"></i>
    <label for="provider">Trusted only?</label>
  </div>
  <input id="provider" type="checkbox" name="provider"
         <% unless params['provider'].nil? %>checked<% end %>>
</div>
