<div class="cookies-box">
  <p class="cookies-text">Our service uses cookies to operate. <a href="/cookies">Click here to learn more.</a></p>

  <form method="get" action="/cookies-accepted">
    <button class="cookies-text" type="submit">Ok</button>
  </form>
</div>