<footer class="footer">
  <div id="footer-navbar-label">EdFlix - Making your career dreams come true</div>
  <ul class="footer-list">
    <li class="footer-link-list"><a class="footer-link" href="/accessibility">Accessibility</a></li>
    <li class="footer-link-list"><a class="footer-link" href="/cookies">Cookies Policy</a></li>
    <li class="footer-link-list"><a class="footer-link" href=""></a></li>
    <li class="footer-link-list"><a class="footer-link" href=""></a></li>
  </ul>
  <p class="footer-copyright">&copy; Team 11, COM1001</p>
</footer>