<section class="page-section">
  <h1 class="page-title">Accessibility</h1>
  <div class="page-inner-section">
    <h2>At EdFlix we are committed to making our website accessibility friendly by implementing various techniques.</h2>
    <p>Some of these techniques include making the website suitable for a wide range of people by implementing:</p>
    <ol>
      <li>Alternative text for images for those who use screen readers or have turned off loading of images</li>
      <li>Having form labels to make it easier for people with screen readers</li>
      <li>Language set in documents for screen readers to read the page appropriately</li>
      <li>Having structural elements such as headers and lists to make it easier for users to read the page</li>
      <li>Using a navigation bar to navigate around the website easily</li>
    </ol>
  </div>
</section>