<section class="page-section">
  <h1 class="page-title">Cookies</h1>
  <div class="page-inner-section">
    <h2>At EdFlix we are committed to making our website compliant to GDPR regulations.</h2>
    <p>We store session only cookies. What this means:</p>
    <ol>
      <li>When you login we store a session cookie so that you can remain logged in and access user only pages.</li>
      <li>Session cookies are cleared when you close your browser or when we start our server.</li>
      <li>Session cookies are stored when you click the "OK" button on our cookie information banner.</li>
    </ol>
  </div>
</section>