<section class="page-section">
		<h1 class="page-title">Forgot Password</h1>
		<div class="page-inner-section">
			<form class="general-form" method="post" action="/forgot-password">
				<label class="form-field" for="email">
					<b class="form-field-label">Email</b>
					<input id="email" class="form-input" type="email" name="email" required>
				</label>

				<div class="form-submit-section">
					<button class="form-submit-btn" type="submit" name="forgot-password">Reset Password</button>
				</div>
			</form>

			<% if @email_error %>
				<br/><strong class="error"><%=h @email_error%></strong>
			<% end %>
			<% if @success_msg %>
				<br/><strong class="success"><%=h @success_msg%></strong>
			<% end %>
			<% if @link_string %>
				<br/><a class="form-link" href="/reset-password<%=h @link_string%>"><strong class="success">Click here for your password</strong></a>
			<% end %>
		</div>
</section>