<section class="home-section">
  <div class="hero">
    <div class="hero-text">
      <h1 class="text-main">Your future starts with the right courses.</h1>
      <h1 class="text-main">Let us help you choose.</h1>
      <div class="text-bars"></div>
      <p class="text-sub">Explore unlimited courses that fit your degree to hasten your skills development.</p>
    </div>
    <div class="hero-img-div">
<!--      https://unsplash.com/photos/HH4WBGNyltc-->
      <img class="hero-img" src="images/education_img_2.jpg" alt="">
    </div>
  </div>

  <div class="home-section-one">
    <h1 class="page-title">Edflix</h1>
    <p class="page-paragraph">
      A learning centre for all, where you can find the right courses that best suit your interests and career path.
      Here at EdFlix, we and our students have gathered together the best courses currently available on the Internet right now,
      so you don't have to.
    </p>
    <p class="page-paragraph">
      Our students can find courses tailored to their area of specialty, and also help other students do the
      same by suggesting and rating enrolled courses! What are you waiting for?
    </p>

    <form class="signup-btn-form" method="get" action="/register">
      <button class="form-submit-btn sign-up-btn">Sign up now!</button>
    </form>
  </div>

  <div class="home-section-one alternate">
    <h1 class="page-title">Testimonials</h1>
    <h2 class="page-subtitle">You don't have to take our word for it, here's what our students say.</h2>

    <div class="testimonials-container">
      <div class="testimonial-card">
        <h3 class="testimonial-header">Emma Patel</h3>
        <p class="testimonial-paragraph">
          "I was feeling lost and overwhelmed when it came to choosing my college courses, but thanks to this website,
          I now feel confident in my decisions. The personalized course recommendations were spot on and tailored to my
          background and interests.
        </p>
        <p class="testimonial-paragraph">
          I'm excited to start my courses knowing that they are the right fit for me and will
          help me achieve my future goals. Thank you!"
        </p>
      </div>

      <div class="testimonial-card">
        <h3 class="testimonial-header">Jason Lee</h3>
        <p class="testimonial-paragraph">
          "I stumbled upon this website while searching for guidance on my college courses, and it was a game-changer for me.
          The personalized recommendations helped me identify courses that were not only relevant to my background but also
          aligned with my passion.
        </p>
        <p class="testimonial-paragraph">
          "As a result, I'm now taking courses that I genuinely enjoy and that will help me succeed
          in my future career. Thank you so much!"
        </p>
      </div>

      <div class="testimonial-card">
        <h3 class="testimonial-header">Sophia Rodriguez</h3>
        <p class="testimonial-paragraph">
          "I was struggling to choose between different courses and was worried that I would make the wrong decision.
          But then I found this website and was blown away by the accuracy of the recommendations. The process was
          straightforward and easy to follow, and I ended up selecting courses that were the perfect fit for me. I
          highly recommend this website to anyone who needs help navigating their academic journey."
        </p>
        <p class="testimonial-paragraph">
          "I highly recommend this website to anyone who needs help navigating their academic journey."
        </p>
      </div>
    </div>

    <p class="page-paragraph"><u>Convinced?</u> Click the button below to see our courses!</p>

    <form class="signup-btn-form" method="get" action="/courses">
      <button class="form-submit-btn sign-up-btn">View our courses</button>
    </form>
  </div>
  
</section>