<section class="page-section">
		<h3 class="page-title">Logout</h3>
		<div>
			<p>You have been logged out successfully.</p>
			<a href="/">Click here to return to the home page</a>
		</div>
</section>