<section class="page-section">
		<h3 class="page-title">Reset Password</h3>
		<div>
			<% if @hash_error %>
				<br/><strong class="error"><%=h @hash_error%></strong>
			<% end %>
			<% if @success_msg %>
				<br/><strong class="success"><%=h @success_msg%></strong>
			<% end %>
		</div>
</section>